doctype html
html
  head
    title #{idiom.title}
    script(src="/socket.io-1.2.0.js")
    script(src="/jquery-1.11.2.min.js")
    script(src="/script.js")
  body
    h3 #{idiom.menu}
    input(type="text" name="newTorrentLink" id="nTorrent")
    button(id="eTorrent" onClick="enviarTorrent()") #{idiom.send}
    h3 #{idiom.list}
    ul(id="list")
      each val, i in vector
        li= val
    h3 #{idiom.config}
    form(method="POST")
      select(name='idiom' id="leng")
        option(value="") 
        option(value="en") English
        option(value="es") Español
      input(type="submit" value="#{idiom.send}")
